In [1]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import matplotlib.pyplot as plt
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [4]:
# import the trip data
feb_2019 = pd.read_parquet("/Users/aya/Desktop/Aya_NYTWA/Data/fhvhv_tripdata_2019-02.parquet", engine = "fastparquet")[["hvfhs_license_num", "PULocationID", "DOLocationID", "trip_miles", "trip_time", "base_passenger_fare", "driver_pay", "wav_match_flag"]]
april_2022 = pd.read_parquet("/Users/aya/Desktop/Aya_NYTWA/Data/fhvhv_tripdata_2022-04.parquet", engine = "fastparquet")[["hvfhs_license_num", "PULocationID", "DOLocationID", "trip_miles", "trip_time", "base_passenger_fare", "driver_pay", "wav_match_flag"]]

# Cleaning

## February 2019

In [6]:
df = feb_2019

In [7]:
len(df[df["trip_miles"] <= 0])/len(df)

0.0003322072580415536

In [8]:
len(df[df["trip_time"] <= 0])/len(df)

0.0001702952839863601

In [9]:
len(df[df["base_passenger_fare"] <= 0.01])/len(df)

0.004472371834816849

In [10]:
len(df[df["driver_pay"] <= 0.01])/len(df)

0.10823626965129697

In [15]:
# drop rows where the trip miles or time is less than or equal to 0
df = df.drop(df[df["trip_miles"] <= 0].index)
df = df.drop(df[df["trip_time"] <= 0].index)

# drop rows where the base passenger fare or driver pay is less than $0.01
df = df.drop(df[df["base_passenger_fare"] <= 0.01].index)
df = df.drop(df[df["driver_pay"] <= 0.01].index)

In [17]:
table = pa.Table.from_pandas(df)
pq.write_table(table, '/Users/aya/Desktop/Aya_NYTWA/Data/feb_2019_cleaned.parquet')

## April 2022

In [18]:
df = april_2022

In [19]:
len(df[df["trip_miles"] <= 0])/len(df)

0.00018983176568158252

In [20]:
len(df[df["trip_time"] <= 0])/len(df)

5.632990079572181e-08

In [21]:
len(df[df["base_passenger_fare"] <= 0.01])/len(df)

0.0011658599567690544

In [22]:
len(df[df["driver_pay"] <= 0.01])/len(df)

0.0034525722795713813

In [23]:
# drop rows where the trip miles or time is less than or equal to 0
df = df.drop(df[df["trip_miles"] <= 0].index)
df = df.drop(df[df["trip_time"] <= 0].index)

# drop rows where the base passenger fare or driver pay is less than $0.01
df = df.drop(df[df["base_passenger_fare"] <= 0.01].index)
df = df.drop(df[df["driver_pay"] <= 0.01].index)

In [24]:
table = pa.Table.from_pandas(df)
pq.write_table(table, '/Users/aya/Desktop/Aya_NYTWA/Data/april_2022_cleaned.parquet')