In [7]:
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

In [25]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [13]:
rides = pq.read_table("fhvhv_tripdata_2022-04.parquet", memory_map=True).to_pandas()

In [14]:
rides.head()

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2022-04-01 00:18:10,2022-04-01 00:23:57,2022-04-01 00:24:06,2022-04-01 00:38:16,230,137,2.63,...,1.37,2.75,0.0,0.0,12.43,N,N,,N,N
1,HV0003,B03404,B03404,2022-04-01 00:40:52,2022-04-01 00:42:09,2022-04-01 00:44:10,2022-04-01 00:51:41,170,237,2.02,...,1.03,2.75,0.0,0.0,8.23,N,N,,N,N
2,HV0003,B03404,B03404,2022-04-01 00:53:46,2022-04-01 00:56:21,2022-04-01 00:56:31,2022-04-01 01:01:55,237,141,0.73,...,0.69,2.75,0.0,1.0,7.29,N,N,,N,N
3,HV0003,B03404,B03404,2022-04-01 00:03:24,2022-04-01 00:06:03,2022-04-01 00:06:30,2022-04-01 00:13:39,198,198,1.10,...,0.73,0.00,0.0,0.0,6.78,N,N,,N,N
4,HV0003,B03404,B03404,2022-04-01 00:13:38,2022-04-01 00:19:27,2022-04-01 00:21:11,2022-04-01 00:32:11,36,177,1.55,...,0.99,0.00,0.0,0.0,9.00,N,N,,N,N

In [15]:
rides['min_rate'] = rides.trip_miles*1.161 + (rides.trip_time/60)*.529

In [31]:
rides['commission'] = rides.base_passenger_fare - rides.driver_pay

In [ ]:
rides['perc_commission'] = rides.driver_pay / rides.base_passenger_fare

In [28]:
rides['perc_over_min_rate'] = (rides.driver_pay - rides.min_rate)/rides.min_rate

In [17]:
bad_trip = rides[rides.min_rate > rides.driver_pay]

In [22]:
print(len(rides), len(bad_trip), len(bad_trip)/len(rides))

17752561 684940 0.0385826022510217

In [26]:
rides.driver_pay.describe()

count   17752561.00000
mean          19.02645
std           15.30752
min          -17.78000
25%            9.07000
50%           14.81000
75%           23.92000
max         2053.10000
Name: driver_pay, dtype: float64

In [27]:
rides.base_passenger_fare.describe()

count   17752561.00000
mean          24.06397
std           19.49136
min         -510.82000
25%           11.87000
50%           18.83000
75%           29.76000
max         3732.90000
Name: base_passenger_fare, dtype: float64

In [29]:
rides.perc_over_min_rate.describe()

count   17752561.00000
mean               inf
std                NaN
min           -1.23466
25%            0.00492
50%            0.08630
75%            0.31782
max                inf
Name: perc_over_min_rate, dtype: float64

In [32]:
rides.commission.describe()

count   17752561.00000
mean           5.03752
std            7.19563
min        -2083.61000
25%            1.80000
50%            3.76000
75%            6.89000
max         1679.80000
Name: commission, dtype: float64

In [ ]:
print("hello")